@use "@/styles/vars";

// Inside the variable $theme is stored the two theme states of our application : light and dark
$themes: (
  light: (
    logo-flower: url("../../assets/images/logo-flower_light.svg"),
    home-icon: url("../../assets/icons/home-dark.svg"),
    skill-icon: url("../../assets/icons/skill-dark.svg"),
    projects-icon: url("../../assets/icons/project-dark.svg"),
    contact-icon: url("../../assets/icons/contact-dark.svg"),
    home-icon-reverse: url("../../assets/icons/home-light.svg"),
    skill-icon-reverse: url("../../assets/icons/skill-light.svg"),
    projects-icon-reverse: url("../../assets/icons/project-light.svg"),
    contact-icon-reverse: url("../../assets/icons/contact-light.svg"),
    tip-icon: url("../../assets/icons/tip-flower-dark.svg"),
    common-icon: url("../../assets/icons/common-icon-dark.svg"),
    spec-icon: url("../../assets/icons/spec-icon-dark.svg"),
    divers-icon: url("../../assets/icons/divers-icon-dark.svg"),
    resume-icon: url("../../assets/icons/resume-dark.svg"),
    primary-color: vars.$beige,
    primary-alter-color: vars.$alter-beige,
    primary-transparent-color: vars.$trans-beige,
    secondary-color: vars.$pale-green,
    secondary-alter-color: vars.$alter-pale-green,
    secondary-transparent-color: vars.$trans-pale-green,
    accent-color: vars.$dark-green,
    accent-alter-color: vars.$alter-dark-green,
    accent-transparent-color: vars.$trans-dark-green,
    theme-toggle: toggleOff 0.2s normal forwards,
    primary-text-color: vars.$deep-green,
    secondary-text-color: vars.$off-white,
  ),
  dark: (
    logo-flower: url("../../assets/images/logo-flower_dark.svg"),
    home-icon: url("../../assets/icons/home-light.svg"),
    skill-icon: url("../../assets/icons/skill-light.svg"),
    projects-icon: url("../../assets/icons/project-light.svg"),
    contact-icon: url("../../assets/icons/contact-light.svg"),
    home-icon-reverse: url("../../assets/icons/home-dark.svg"),
    skill-icon-reverse: url("../../assets/icons/skill-dark.svg"),
    projects-icon-reverse: url("../../assets/icons/project-dark.svg"),
    contact-icon-reverse: url("../../assets/icons/contact-dark.svg"),
    tip-icon: url("../../assets/icons/tip-flower-light.svg"),
    common-icon: url("../../assets/icons/common-icon-light.svg"),
    spec-icon: url("../../assets/icons/spec-icon-light.svg"),
    divers-icon: url("../../assets/icons/divers-icon-light.svg"),
    resume-icon: url("../../assets/icons/resume-light.svg"),
    primary-color: vars.$deep-green,
    primary-alter-color: vars.$alter-deep-green,
    primary-transparent-color: vars.$trans-deep-green,
    secondary-color: vars.$dark-green,
    secondary-alter-color: vars.$alter-dark-green,
    secondary-transparent-color: vars.$trans-dark-green,
    accent-color: vars.$pale-green,
    accent-alter-color: vars.$alter-pale-green,
    accent-transparent-color: vars.$trans-pale-green,
    theme-toggle: toggleOn 0.2s normal forwards,
    primary-text-color: vars.$off-white,
    secondary-text-color: vars.$deep-green,
  ),
);

// Mixin and Function provided by https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// No need to be modify
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function ask($key) {
  @return map-get($theme-map, $key);
}
