$grey-blue: hsl(230, 22%, 26%);
$alter-grey-blue: hsl(230, 22%, 18%);
$grey-blue-transparent: hsl(230, 21%, 18%, 70%);

$red: hsl(346, 69%, 51%);
$alter-red: hsl(346, 69%, 41%);
$alter-red-transparent: hsl(346, 69%, 41%, 50%);

$gold: hsl(36, 100%, 67%);

$beige: hsl(29, 100%, 88%);
$alter-beige: hsl(29, 100%, 83%);
$beige-transparent: hsl(29, 87%, 82%, 70%);

$off-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 2%, 9%);

$accent-color: $red;

$fastTransition: 0.2s;
$slowTransition: 1s;
