@use "src/styles/vars";
@use "src/styles/color-themes";
@use "src/styles/utils";
@use "src/styles/responsive-breakpoints" as media;
@import "./_reset.css";
@import url("https://unpkg.com/leaflet@1.8.0/dist/leaflet.css");

:root {
  --cooltipz-bg-color: hsl(165, 19%, 35%);
  --cooltipz-border-color: hsl(165, 19%, 35%);
  --cooltipz-text-color: hsl(0, 0%, 96%);
}
*,
*::before,
*::after {
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  cursor: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root,
.theme {
  height: 100vh;
  width: 100%;
  @include color-themes.themed() {
    background-color: color-themes.ask("primary-color");
  }
}
