@use "src/styles/vars";
@use "src/styles/color-themes";
@use "src/styles/utils";
@use "src/styles/responsive-breakpoints" as media;

.app {
  position: relative;
  width: 100%;
  height: 400vh;
  @include color-themes.themed() {
    color: color-themes.ask("primary-text-color");
  }
  .lazyload-wrapper {
    width: 100%;
  }

  .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;

    &--home {
      padding-bottom: 5em;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--skills {
      flex-direction: column;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
    &--projects {
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--contact {
      flex-direction: column;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
  }
  .footer {
    flex-direction: row;
    font-size: 0.8em;
    width: 100%;
    min-height: 6vh;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.25);
    @include color-themes.themed() {
      background-color: color-themes.ask("primary-color");
      color: color-themes.ask("primary-text-color");
    }
    a {
      padding-left: 0.3em;
      font-weight: 600;
      transition: 0.2s ease-in-out;
      &:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
}

@include media.responsive("small-mobile") {
  .app {
    .section--contact {
      padding-top: 2em;
    }
    .section--project {
      padding-top: 2em;
    }
  }
}
@include media.responsive("tablet") {
  .app {
    .section--skills {
      padding-top: 40em;
    }
    .section--project {
      padding-top: unset;
    }
  }
}
@include media.responsive("desktop") {
  .app {
    .section--home {
      padding: 0;
    }
    .section--skills,
    .section--contact {
      padding-top: unset;
    }
  }
}
