@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  @include color-themes.themed() {
    color: color-themes.ask("primary-text-color");
  }

  .section {
    width: 100%;
    &--intro {
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 10px 1px hsl(30deg 27% 89%);
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }

      .intro__corners {
        position: absolute;
        width: 100%;
        height: 100%;

        &__corner {
          $spacing-v: 10%;
          $spacing-h: 15%;
          position: absolute;
          width: 15em;
          height: 8em;
          @include color-themes.themed() {
            border-color: color-themes.ask("accent-color");
          }

          &__TL {
            top: $spacing-v;
            left: $spacing-h;
            border-top: 3px solid;
            border-left: 3px solid;
          }
          &__TR {
            top: $spacing-v;
            right: $spacing-h;
            border-top: 3px solid;
            border-right: 3px solid;
          }
          &__BR {
            bottom: $spacing-v;
            right: $spacing-h;
            border-bottom: 3px solid;
            border-right: 3px solid;
          }
          &__BL {
            bottom: $spacing-v;
            left: $spacing-h;
            border-bottom: 3px solid;
            border-left: 3px solid;
          }
        }
      }
    }
    &--home {
      height: fit-content;
      padding-bottom: 5em;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--skills {
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
    &--projects {
      height: 100vh;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--contact {
      height: 100vh;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
}

@include media.responsive("desktop") {
  .app {
    .section--home {
      height: 100.1vh;
      padding: 0;
    }
    .section--skills {
      height: 100.1vh;
    }
  }
}
