@use "src/styles/vars";
@use "src/styles/color-themes";
@use "src/styles/utils";
@use "src/styles/responsive-breakpoints" as media;

.app {
  position: relative;
  width: 100%;
  height: calc(100vh * 4);
  width: 100%;
  @include color-themes.themed() {
    color: color-themes.ask("primary-text-color");
  }
  .lazyload-wrapper {
    width: 100%;
  }

  .section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    transition: all 0.6s ease-in-out;
    z-index: 0;

    &--home {
      transform: translateY(0);
      z-index: 4;
      padding-bottom: 5em;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--skills {
      z-index: 3;
      flex-direction: column;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
    &--projects {
      z-index: 2;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
      }
    }
    &--contact {
      z-index: 1;
      padding: 3em 0;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-alter-color");
      }
    }
  }
  .footer {
    font-size: 0.8em;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.25);
    @include color-themes.themed() {
      background-color: color-themes.ask("primary-color");
      color: color-themes.ask("primary-text-color");
    }
    a {
      padding-left: 0.3em;
      font-weight: 600;
      transition: 0.2s ease-in-out;
      &:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
}

@include media.responsive("desktop") {
  .app {
    .section--home {
      padding: 0;
    }
  }
}
