@use "src/styles/vars";
@use "src/styles/color-themes";
@use "src/styles/utils";
@use "src/styles/responsive-breakpoints" as media;

.logo__animated {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  &__svg {
    width: 20em;
    height: 20em;
  }
}
