@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .menu-active-link {
    @apply rounded-lg bg-secondary-100  shadow-sm dark:bg-primary-100;
  }
}
#menu nav ul > li,
#menu nav ul:not(:hover) > li:hover {
  opacity: 1;
}
#menu nav ul:hover > li:not(:hover) {
  opacity: 0.5;
  transform: scale(0.95);
}
