@use "../vars";
@use "../color-themes";
@use "../responsive-breakpoints" as media;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
  z-index: 5;
  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-transparent-color");
  }

  &__logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3em;
    height: 3em;

    @include color-themes.themed() {
      background-image: color-themes.ask("logo-flower");
    }
  }
}

@include media.responsive("tablet") {
  .header {
    background-color: transparent !important;

    &__logo {
      display: none;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  height: 100%;
  transform: translateY(-105%);
  transition: 0.2s ease-in-out;
  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-color");
  }

  &__logo {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 80%;
    height: 3em;
    padding-left: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -100em;
    text-transform: uppercase;

    @include color-themes.themed() {
      background-image: color-themes.ask("logo-flower");
      color: color-themes.ask("accent-color");
    }
  }

  &__socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
      display: block;
      height: 100%;
      @include color-themes.themed() {
        color: color-themes.ask("accent-color");
      }
      &:first-child {
        margin-right: 1em;
      }
      &--icon {
        height: 100%;
        width: 2em;
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.1);
          @include color-themes.themed() {
            color: color-themes.ask("accent-alter-color");
          }
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;

    &__link {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-origin: content-box;
      width: 2.5em;
      height: 2.5em;
      text-indent: -100em;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.1s ease-in-out;
      cursor: pointer;

      @include color-themes.themed() {
        &[data-section="home"] {
          background-image: color-themes.ask("home-icon");
        }
        &[data-section="skills"] {
          background-image: color-themes.ask("skill-icon");
        }
        &[data-section="projects"] {
          background-image: color-themes.ask("projects-icon");
        }
        &[data-section="contact"] {
          background-image: color-themes.ask("contact-icon");
        }
        &[data-section="resume"] {
          background-image: color-themes.ask("resume-icon");
        }
      }
      &--active {
        width: 3em;
        height: 3em;
        padding: 0.3em;
        border-radius: 0.3em;

        @include color-themes.themed() {
          background-color: color-themes.ask("accent-color");
          &[data-section="home"] {
            background-image: color-themes.ask("home-icon-reverse");
          }
          &[data-section="skills"] {
            background-image: color-themes.ask("skill-icon-reverse");
          }
          &[data-section="projects"] {
            background-image: color-themes.ask("projects-icon-reverse");
          }
          &[data-section="contact"] {
            background-image: color-themes.ask("contact-icon-reverse");
          }
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__language_toggle {
    cursor: pointer;
    text-indent: 0;
    width: 3.2em;
    height: 3em;
    padding: 0.25em;
    border-radius: 0.3em;
    @include color-themes.themed() {
      background-color: color-themes.ask("accent-color");
      color: color-themes.ask("primary-color");
    }
  }
  &.open {
    justify-content: space-around;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;

    @include color-themes.themed() {
      background-color: color-themes.ask("secondary-color");
    }
    .menu__logo {
      text-indent: 0;
      padding-left: 4em;
    }

    .menu__links {
      width: 200px;

      &__link {
        display: flex;
        align-items: center;
        width: 100%;
        background-position: left;
        text-indent: 1.5em;
        justify-content: center;

        @include color-themes.themed() {
          color: color-themes.ask("accent-color");
        }
        &--active {
          @include color-themes.themed() {
            &[data-section="home"] {
              color: color-themes.ask("secondary-color");
            }
            &[data-section="skills"] {
              color: color-themes.ask("secondary-color");
            }
            &[data-section="projects"] {
              color: color-themes.ask("secondary-color");
            }
            &[data-section="contact"] {
              color: color-themes.ask("secondary-color");
            }
          }
        }
      }
    }
    .menu__toggles {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 5em;

      &__ctn {
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        @include color-themes.themed() {
          color: color-themes.ask("accent-color");
        }
        &__info {
          position: static;
          visibility: visible;
          transition: 0.2s ease-in-out;
          margin: 0;
        }
      }
    }
  }
}

.menu_toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 10;
}

@include media.responsive("tablet") {
  .menu {
    width: 70px;
    left: 0;
    justify-content: space-between;
    transform: translateY(0);
    animation: appear 0.2s ease-in-out forwards;
    transition: 0.2s ease-in-out;
    @include color-themes.themed() {
      box-shadow: 1px 0px 10px color-themes.ask("secondary-color");
    }
    &__socials {
      display: none;
    }
    &_toggle {
      display: none;
    }
    &__toggles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 6em;
      transition: 0.2s ease-in-out;
      &__ctn {
        &__info {
          position: absolute;
          left: -100%;
          visibility: hidden;
          overflow: hidden;
          transition: 0.1s ease-in-out;
        }
        transition: 0.2s ease-in-out;
      }
    }

    &:hover {
      width: 220px;
      transition: 0.2s ease-in-out;
      .menu__toggles {
        width: 100%;
        &__ctn {
          cursor: pointer;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          text-transform: uppercase;
          transition: 0.2s ease-in-out;
          @include color-themes.themed() {
            color: color-themes.ask("accent-color");
          }
          &__info {
            position: static;
            visibility: visible;
            margin-left: 2em;
            transition: 0.2s ease-in-out;
          }
        }
      }
      .menu__logo {
        text-indent: 0;
        padding-left: 4em;
      }
      .menu__links {
        width: 100%;
        &__link {
          background-position: left;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          text-indent: 2em;
          transition: 0.2s ease-in-out;
          @include color-themes.themed() {
            color: color-themes.ask("accent-color");
          }
          &--active {
            @include color-themes.themed() {
              &[data-section="home"] {
                color: color-themes.ask("secondary-color");
              }
              &[data-section="skills"] {
                color: color-themes.ask("secondary-color");
              }
              &[data-section="projects"] {
                color: color-themes.ask("secondary-color");
              }
              &[data-section="contact"] {
                color: color-themes.ask("secondary-color");
              }
            }
          }
        }
      }
    }
  }
}
@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// Burger Icon by https://march08.github.io/animated-burgers/
.burger {
  align-self: end;
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  transition: 0.2s all;

  .burger-lines:after {
    left: 0;
    top: -1em;
  }

  .burger-lines:before {
    left: 1em;
    top: 1em;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &,
    &:after,
    &:before {
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 0.25em;
      height: 0.25em;
      position: absolute;
      transform: rotate(0);

      @include color-themes.themed() {
        background-color: color-themes.ask("accent-color");
      }
    }

    &:after {
      left: 0;
      top: -1em;
    }

    &:before {
      left: 1em;
      top: 1em;
    }
  }
}

.burger.burger-squeeze {
  .burger-lines {
    &,
    &:after,
    &:before {
      transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
        0.4s background-color 0.2s;
    }

    &:after,
    &:before {
      width: 2em;
    }
  }

  &.open {
    .burger-lines {
      &,
      &:after,
      &:before {
        transition: 0.2s background-color, 0.2s top, 0.2s left,
          0.2s transform 0.15s;
      }

      & {
        background-color: transparent;
      }

      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
