@use "../vars";
@use "../color-themes";
@use "../utils";
@use "../responsive-breakpoints" as media;

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
  &__intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    &__text {
      margin-top: 0.25em;
      max-width: 400px;
      &__para {
        margin-top: 1em;
        text-align: justify;
        -webkit-hyphens: auto;
        hyphens: auto;
        display: flex;
        &:last-child {
          position: relative;
          margin-left: 3em;
          align-items: center;
          height: 3.5em;
        }
        &--icon {
          width: 4em;
          height: 5em;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          top: -0.6em;
          left: -4em;
          @include color-themes.themed() {
            background-image: color-themes.ask("tip-icon");
          }
        }
      }
    }
  }
  &__profil {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  &__profil__card {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__me {
      width: 80%;
      align-items: center;
      display: flex;
      flex-direction: column;
      transform: scale(1.2);
    }

    &__me__container {
      height: 280px;
      transform: scale(0.48);
      transition: transform 250ms ease-in-out;
      width: 400px;

      &:hover {
        transform: scale(0.54);
        .home__profil__card__me__container__inner--img {
          transform: translateY(0) scale(1.2);
        }
      }
    }

    &__me__container__inner {
      clip-path: path(
        "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
      );
      position: relative;
      transform-origin: 50% bottom;
      top: -200px;

      &--circle {
        width: 380px;
        height: 380px;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 210px;
      }

      &--img {
        position: relative;
        transform: translateY(20px) scale(1.15);
        transform-origin: 50% bottom;
        transition: transform 300ms ease-in-out;
        left: -7px;
        top: 185px;
        width: 415px;
        height: 415px;
        border-radius: 250px;
      }
    }

    &__me__divider {
      height: 2px;
      width: 160px;
      @include color-themes.themed() {
        background-color: color-themes.ask("accent-color");
      }
    }

    &__me__name {
      font-size: 1.5em;
      font-weight: 600;
      margin-top: 0.5em;
      text-align: center;
    }

    &__me__title {
      font-family: arial;
      font-size: 0.8em;
      font-style: italic;
      margin-top: 0.25em;
    }
  }
}

@include media.responsive("tablet") {
  .home {
    width: auto;
    margin-left: 4em;
  }
}
@include media.responsive("desktop") {
  .home {
    width: 100%;
    margin-left: unset;
    padding: 0;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    &__intro {
      width: 500px;
      align-items: flex-start;
      margin-right: 3em;
    }
  }
}
