@use "../vars";
@use "../color-themes";
@use "../utils";
@use "../responsive-breakpoints" as media;

.projectinfo {
  width: 310px;
  border-radius: 1em;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__sep {
    width: 5em;
    height: 2px;
    margin: 1em;
    background-color: vars.$off-white;
  }
  &__ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: scroll;
    &__info {
      margin-bottom: 1em;
      &__title {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }
      &__text {
        text-align: justify;
        line-height: 1.2;
        font-size: 0.95em;
        -webkit-hyphens: auto;
        hyphens: auto;

        & br {
          display: block;
          content: "";
          margin-top: 0.3em;
        }

        &__para {
          margin-top: 0.25em;
        }
        &__subtitle {
          text-decoration: underline;
          margin-right: 1em;
          text-align: left;
          display: inline-block;
        }
        &__link:hover {
          text-decoration: underline;
        }
        &__skills {
          width: 100%;
          height: 100%;
          padding: 0.5em 0;
          display: flex;
          flex-wrap: wrap;
          &__skill {
            width: -moz-fit-content;
            width: fit-content;
            color: vars.$deep-green;
            background-color: vars.$pale-green;
            padding: 0.25em;
            margin: 0.25em;
            border-radius: 0.25em;
          }
        }
      }
      &--desc {
        .projectinfo__ctn__info__text br {
          margin-top: 0.45em;
        }
        ul {
          margin: 0;
        }

        li {
          position: relative;
          list-style-type: none;
          padding-left: 1.5em;
        }

        li:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: -2px;
          width: 5px;
          height: 11px;
          border-width: 0 2px 2px 0;
          border-style: solid;
          border-color: vars.$pale-green;
          transform-origin: bottom left;
          transform: rotate(45deg);
        }
        strong {
          font-weight: 600;
        }
      }
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("tablet") {
  .projectinfo {
    width: 27em;
  }
}

// Style when on tablet and bigger
@include media.responsive("desktop") {
  .projectinfo {
    width: 50em;
    &__logo {
      width: 120px;
      height: 120px;
    }
    &__ctn {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      overflow: hidden;
      height: 360px;
      &__info {
        margin-bottom: 1em;
        width: 49%;
        &__text {
          font-size: 0.9em;
          &__skills__skill {
            padding: 0.25em 0.5em;
          }
        }
      }
    }
  }
}
