@use "../vars";
@use "../color-themes";
@use "../utils";
@use "../responsive-breakpoints" as media;

.socials {
  display: none;
}

@include media.responsive("tablet") {
  .socials {
    width: 15em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    top: 0.5em;
    z-index: 6;

    &__dash {
      width: 5em;
      height: 0.2em;
      @include color-themes.themed() {
        background-color: color-themes.ask("accent-color");
      }
    }
    &__link {
      display: block;
      height: 100%;
      @include color-themes.themed() {
        color: color-themes.ask("accent-color");
      }

      &--icon {
        height: 100%;
        width: 2em;
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.1);
          @include color-themes.themed() {
            color: color-themes.ask("accent-alter-color");
          }
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
