@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.projectinfo {
  width: 310px;
  border-radius: 1em;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 100px;
    height: 100px;
  }
  &__sep {
    width: 5em;
    height: 2px;
    margin: 1em;
    background-color: vars.$off-white;
  }
  &__ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: scroll;
    &__info {
      margin-bottom: 1em;
      &__title {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }
      &__text {
        text-align: justify;
        line-height: 1.2;
        font-size: 0.95em;
        hyphens: auto;

        & br {
          display: block;
          content: "";
          margin-top: 0.3em;
        }

        &__para {
          margin-top: 0.25em;
        }
        &__subtitle {
          text-decoration: underline;
          margin-right: 1em;
          text-align: left;
          display: inline-block;
        }
        &__link:hover {
          text-decoration: underline;
        }
        &__skills {
          width: 100%;
          height: fit-content;
          padding: 0.5em 0;
          display: flex;
          flex-wrap: wrap;
          &__skill {
            width: fit-content;
            color: vars.$deep-green;
            background-color: vars.$pale-green;
            padding: 0.25em;
            margin: 0.25em;
            border-radius: 0.25em;
          }
        }
      }
      &--desc {
        .projectinfo__ctn__info__text br {
          margin-top: 0.5em;
        }
      }
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("tablet") {
  .projectinfo {
    width: 27em;
  }
}

// Style when on tablet and bigger
@include media.responsive("desktop") {
  .projectinfo {
    width: 50em;
    &__logo {
      width: 120px;
      height: 120px;
    }
    &__ctn {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      overflow: hidden;
      height: 360px;
      &__info {
        margin-bottom: 1em;
        width: 49%;
        &__text {
          font-size: 0.9em;
          &__skills__skill {
            padding: 0.25em 0.5em;
          }
        }
      }
    }
  }
}
