@use "src/styles/vars";
@use "src/styles/color-themes";
@use "src/styles/responsive-breakpoints" as media;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
  z-index: 5;
  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-transparent-color");
  }

  &__logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3em;
    height: 3em;

    @include color-themes.themed() {
      background-image: color-themes.ask("logo-flower");
    }
  }
}

@include media.responsive("tablet") {
  .header {
    background-color: transparent !important;

    &__logo {
      display: none;
    }
  }
}
