@use "sass:map";
@use "./vars";

// Declare $theme-map at root level to satisfy Sass 2.0+ requirements
$theme-map: null !default;

// Inside the variable $theme is stored the two theme states of our application : light and dark
$themes: (
  light: (
    logo-flower: url("../../public/static/images/logo-flower_light.svg"),
    home-icon: url("../../public/static/icons/home-dark.svg"),
    skill-icon: url("../../public/static/icons/skill-dark.svg"),
    projects-icon: url("../../public/static/icons/project-dark.svg"),
    contact-icon: url("../../public/static/icons/contact-dark.svg"),
    home-icon-reverse: url("../../public/static/icons/home-light.svg"),
    skill-icon-reverse: url("../../public/static/icons/skill-light.svg"),
    projects-icon-reverse: url("../../public/static/icons/project-light.svg"),
    contact-icon-reverse: url("../../public/static/icons/contact-light.svg"),
    tip-icon: url("../../public/static/icons/tip-flower-dark.svg"),
    tech-icon: url("../../public/static/icons/tech-icon-dark.svg"),
    spec-icon: url("../../public/static/icons/spec-icon-dark.svg"),
    divers-icon: url("../../public/static/icons/divers-icon-dark.svg"),
    resume-icon: url("../../public/static/icons/resume-dark.svg"),
    project-bg:
      url("https://res.cloudinary.com/matthieu-munoz/q_100,c_scale,w_826,h_849/project-background-dark_a0vluc.svg"),
    primary-color: vars.$beige,
    primary-alter-color: vars.$alter-beige,
    primary-transparent-color: vars.$trans-beige,
    secondary-color: vars.$pale-green,
    secondary-alter-color: vars.$alter-pale-green,
    secondary-transparent-color: vars.$trans-pale-green,
    accent-color: vars.$dark-green,
    accent-alter-color: vars.$alter-dark-green,
    accent-transparent-color: vars.$trans-dark-green,
    theme-toggle: toggleOff 0.2s normal forwards,
    primary-text-color: vars.$alter-deep-green,
    secondary-text-color: vars.$off-white,
    basic-alter-color: black,
  ),
  dark: (
    logo-flower: url("../../public/static/images/logo-flower_dark.svg"),
    home-icon: url("../../public/static/icons/home-light.svg"),
    skill-icon: url("../../public/static/icons/skill-light.svg"),
    projects-icon: url("../../public/static/icons/project-light.svg"),
    contact-icon: url("../../public/static/icons/contact-light.svg"),
    home-icon-reverse: url("../../public/static/icons/home-dark.svg"),
    skill-icon-reverse: url("../../public/static/icons/skill-dark.svg"),
    projects-icon-reverse: url("../../public/static/icons/project-dark.svg"),
    contact-icon-reverse: url("../../public/static/icons/contact-dark.svg"),
    tip-icon: url("../../public/static/icons/tip-flower-light.svg"),
    tech-icon: url("../../public/static/icons/tech-icon-light.svg"),
    spec-icon: url("../../public/static/icons/spec-icon-light.svg"),
    divers-icon: url("../../public/static/icons/divers-icon-light.svg"),
    resume-icon: url("../../public/static/icons/resume-light.svg"),
    project-bg:
      url("https://res.cloudinary.com/matthieu-munoz/q_100,c_scale,w_826,h_849/project-background-light_hywo3q.svg"),
    primary-color: vars.$deep-green,
    primary-alter-color: vars.$alter-deep-green,
    primary-transparent-color: vars.$trans-deep-green,
    secondary-color: vars.$dark-green,
    secondary-alter-color: vars.$alter-dark-green,
    secondary-transparent-color: vars.$trans-dark-green,
    accent-color: vars.$pale-green,
    accent-alter-color: vars.$alter-pale-green,
    accent-transparent-color: vars.$trans-pale-green,
    theme-toggle: toggleOn 0.2s normal forwards,
    primary-text-color: vars.$off-white,
    secondary-text-color: vars.$deep-green,
    basic-alter-color: white,
  ),
);

// Mixin and Function provided by https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
// No need to be modify
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), "#{$key}");
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function ask($key) {
  @return map.get($theme-map, $key);
}
