@use "./vars";
@use "./color-themes";
@use "./utils";
@use "./responsive-breakpoints" as media;
@import "./_reset.css";

:root {
  --cooltipz-bg-color: hsl(165, 19%, 35%);
  --cooltipz-border-color: hsl(165, 19%, 35%);
  --cooltipz-text-color: hsl(0, 0%, 96%);
}
*,
*::before,
*::after {
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}
.fp-watermark{
  display: none!important;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

#__next,
.theme {
  height: 100vh;
  width: 100%;
  @include color-themes.themed() {
    background-color: color-themes.ask("primary-color");
  }
}
